.card-wrap{
}


.card-wrap p{
    
    font-size: 1.2rem;
}

.card-wrap span{
    font-size: 1.5rem;
    color: rgb(150, 150, 150);
}

.card-content{
    text-align: left;
    padding: 40px;
    height: 70vh;
    width: 50vw;
}

.card-content button{
    padding: 20px;
    font-size: 1.3rem;
}

.custom-subtitle{
    color: rgb(150, 150, 150);
}

hr{
    margin: 20px 0 20px 0;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px 2px white;
}

li{
    margin-left: 50px;
    color: white;
    font-size: 1.2rem;
}

