.custom-help-link{
  right: 0;
  text-decoration: white underline;
  margin: 20px 50px 0 0;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
}

.menu-content{
  display: flex;
  flex-direction: column;
}

.custom-title{
  margin: 14px auto 18px;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.fixed-height-card{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fixed-height-card > .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 75vh;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.card-content-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    width: 100%;
    color: white;
}

.card-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    padding-bottom: 20px;
}

.card-btn button{
  width: 80%;  
  padding: 15px;
}

@media (min-width: 992px) {
    .fixed-height-card {
        height: 75vh;
    }
}

@media (max-width: 991px) {
    .fixed-height-card {
        height: auto;
        min-height: 400px;
    }
}

@media (max-width: 768px) {
  .dashboard-layout {
    display: block;
  }

  .menu-content {
    flex: 0 0 auto;
    width: 0;
  }
}

/* @media (max-width:600px){
  .btn-div{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .dashboard-button button{
    margin: 5px auto;
    width: 100%;
    height: 10vh;
    align-items: center;
  }
} */
