.limit-btn-wrapper button{
    width: 12vh;
}

.table-title-tr th{
    background-color: #35363b;
    font-size: 1.3rem;
    box-shadow: inset 0 0 10px 2px black;
    border: 2px solid black;
    padding: 10px;
    letter-spacing: 2px;
}




.test-p{
    color: #075DBF;
    text-decoration: underline;
    text-underline-offset: 2px;
}