.ongoing-trip-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.trip-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.trip-table td {
    padding: 12px 15px;
    width: 60%;
}

.trip-timer {
    font-size: 2.2rem;
    text-align: center;
    color: white;
}

.trip-controls {
    display: flex;
    gap: 15px;
    width: 100%;
}

.trip-controls button {
    flex: 1;
    padding: 15px;
}

@media(max-width:1600px){
    .trip-title{
        font-size: 24px;
    }

    .trip-timer{
        font-size: 26px;
    }
}

@media(max-width:768px){
    .trip-title{
        font-size: 20px;
    }
}