.success-div{
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(38, 103, 27);
    border-radius: 20px;
    box-shadow: inset 0 0 10px 5px rgb(0, 41, 0);
    justify-content: center;
    transition: 1s;
    z-index: 10;
    position: fixed;
    cursor: pointer;
    padding: 10px;

    min-width: 280px;
    max-width: 80vw;

    animation: slideIn 0.5s ease-out;
}

.success-close-img{
    right: 20px;
    top: 20px;
    position: absolute;
    width: 20px;
    cursor: pointer;
}

.success-text{
    margin-left: 10px;
    text-align: left;
}

.success-description{
    margin-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
    letter-spacing: 1px;
}

@keyframes slideIn {
    from{
        top: -100px;
        opacity: 0;
    } to {
        top: 5px;
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        top: 5px;
        opacity: 1;
    }
    to {
        top: -100px;
        opacity: 0;
    }
}

.success-div.hide {
    animation: slideOut 0.5s ease-in forwards; 
}




@media (max-width: 768px) {
    .success-div{
        width: 80vw;
    }
}