.community-tabs {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.community-tab {
  height: 60px;
  cursor: pointer;
}

.community-tab.active {
  background: rgba(7, 93, 191, 0.3);
}

.community-tab.inactive {
  background: rgba(0, 0, 0, 0.2);
}

.community-tab p {
  margin: 0;
  color: white;
}

