.title {
    font-size: 3.5rem;
}

.subtitle {
    font-size: 2rem;
}

@media (max-width: 1400px) {
    .title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 1.8rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }
}
