.custom-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    padding: 20px;
    font-size: 30px;
    background-color: black;


}

.nav-icons-div{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-icons{
    height: 40px;
    width: 40px;
}

.nav-title-div{
    flex: 1;
    display: flex;
    justify-content: center;
}

.mate-span{
    color: #075DBF;
}

.brand{
    cursor: pointer;
    margin: 0;
    line-height: 1;
}