.feature {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 10px 0;
    color: #dfe6f5;
}

.feature img {
    width: 38px;
    height: 38px;
    object-fit: contain;
    flex-shrink: 0;
    margin-top: 2px;
}

.feature h4 {
    margin: 0 0 4px 0;
    font-size: 1.40rem;
    font-weight: 600;
    color: #075DBF;
    text-decoration: underline;
    margin-bottom: 20px;
}

.feature p {
    margin: 0 0 6px 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.35;
    color: #CCCCCC;
    margin-bottom: 16px;
}

@media (max-width:600px){
    .feature p{
        line-height: 1;
    }
}