.parking-container{
    min-width: 100vw;
    max-width: 100vw;
}

.parking-nav{
    text-align: center;
}

.parking-nav-tab{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #35363B;
    border: 2px solid rgb(102, 102, 102);
    cursor: pointer;
}

.row > * {
    padding-right: 0;
    padding-left: 0;
}

.active-tab{
    background-color: #1B1F28;
    color: #075DBF;
}

.parking-content {
    max-width: 1100px;
    margin: 0 auto;
}

.parking-content > .col-6 {
    padding-left: 40px;
    padding-right: 40px;
}

.parking-div{
    margin-top: 60px;
}