.input {
    margin: 10px 0; 
    
    box-sizing: border-box;
    width: 100%;

    background-color: #35363B;
    font-size: 18px;
    font-family: 'Orbitron', 'Oxanium', system-ui, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 5px 1px black;
}

@media (max-width: 768px){
    .input{
        font-size: 14px;
        padding: 10px;
        margin: 10px 0;
    }
}