.input{
    background-color: #35363B;
    font-size: 18px;
    margin: 10px 12px 10px 12px;
    font-family: 'Orbitron', 'Oxanium', system-ui, sans-serif;
    font-weight: 900;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 1px #35363B;
}