.footerComponent{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 100px;
}

@media (max-width: 768px){
    .footerComponent p{
        font-size: 0.8rem;
    }

    .footerComponent{
        height: 60px;
    }
}