.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.modal-footer{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(49, 49, 49, 0.8);
  top: 0;
  left: 0;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #2f3136;
  padding: 24px;
  border-radius: 20px;
  box-shadow: inset 0 0 15px 5px black;

  width: 90%;
  min-width: 320px;
  max-width: 800px;

  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;


}

.modal-header{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  min-height: 60px;
  gap: 15%;
}

.modal-title{
  font-size: 30px;
  margin: 0;
  text-align: center;

  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
}

.modal-back {
  cursor: pointer;
  margin-bottom: 16px;
  position: absolute;
  left: 0;
  height: 40px;
}

.modal-body.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px; 
    row-gap: 16px;
    width: 100%;
    box-sizing: border-box;
}

.two-col{
    grid-template-columns: 1fr 1fr;
}

.one-col{
    grid-template-columns: 1fr;
}

.one-col-div{
  max-width: 360px;
}

@media (max-width: 768px) {
  .modal-body.two-col {
    grid-template-columns: 1fr;
  }

  .modal-title{
    font-size: 22px;
  }
}
