.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* háttér */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(49, 49, 49, 0.8);
  top: 0;
  left: 0;
}

/* maga a modal */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #2f3136;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px white;

  width: 90%;
  min-width: 320px;
  max-width: 800px;
  box-sizing: border-box;
}

.modal-header{
  display: flex;
  align-items: center;
  gap: 15%;
}

.modal-title{
  font-size: 30px;
}


/* vissza ikon */
.modal-back {
  cursor: pointer;
  margin-bottom: 16px;
  height: 60px;
}

.modal-body{
    width: 100%;
    display: grid;
    gap: 16px;
    box-sizing: border-box;
}

.two-col{
    grid-template-columns: 1fr 1fr;
}

.one-col{
    grid-template-columns: 1fr;
}

@media (max-width: 600px) {
  .modal-body.two-col {
    grid-template-columns: 1fr;
  }
}
