.btn-outline-danger {
    color: #ff4d4d;
    border-color: #ff4d4d;
}

.btn-outline-danger:hover {
    background-color: #ff4d4d;
    color: white;
}

/* Hogy a betűtípus hasonlítson a képen lévőre */
h2 {
    letter-spacing: 2px;
}