button{
    transition: 0.3s;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: none;
    background: #35363B;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: inset 0 0 10px 1px black;
    border: 2px solid black;
    margin: 10px auto;
    vertical-align: center;

    display: flex;
    justify-content: center;
}

button:hover{
    transition: 0.3s;
    box-shadow: inset 0 0 10px 5px #075DBF;
    border: 2px solid #636bff;
    background-color: #000000;
    color: #636bff;
}

button:active{
    transform: scale(0.95);
}

button:focus{
    outline: none;
}
@media (max-width: 768px) {
    button{
        font-size: 0.8rem;
        /* margin-bottom: 40px; */
        padding: 0.6rem 0.8rem;
    }
}