body {
  background-image: url("./assets/background/page-background.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Orbitron', 'Oxanium', system-ui, sans-serif;
  font-weight: bold;
  background-color: #1B1F28;
  color: white;

  min-width: 320px;
}

p{
  margin: 0;
  color: white;
}

.full-width{
  grid-column: 1 / -1;
  width: 100%;
  text-align: center;
}

input, select, textarea{
    color: #ffffff;
}

textarea:focus, input:focus {
  background-color: rgb(29, 29, 29);
  color: #075DBF;
}

.modal-btn{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
}

.custom-btn-div{
    margin: -20px 0 -20px 0;
}

hr{
    margin: 20px 0 20px 0;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px 2px white;
}

body{
  background-color: rgb(0, 0, 0);
}

.custom-btn-div{
  margin: 10px auto;
}

.odd{
    background-color: #1515158e;
    padding: 8px;
    font-size: 1.2rem;
}

.even{
    background-color: #35363b8e;
    padding: 8px;
    font-size: 1.2rem
}

.odd, .even{
    box-shadow: inset 0 0 5px 1px black;
    border: 1px solid black;
    text-align: left;
}

@media(max-width:1600px){
  td.field, th.field, .field{
    font-size: 14px;
    letter-spacing: 1px;
  }
}

@media(max-width:768px){
  hr{
    margin: 0;
  }

  td.field, th.field, .field{
    font-size: 14px;
  }
}