body {
  background-image: url("./assets/background/page-background.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Orbitron', 'Oxanium', system-ui, sans-serif;
  font-weight: bold;
  background-color: #1B1F28;
  color: white;

  min-width: 320px;
}

p{
  margin: 0;
  color: white;
}

.full-width{
  grid-column: 1 / -1;
  width: 100%;
  text-align: center;
}

input, select, textarea{
    color: #ffffff;
}

textarea:focus, input:focus {
  background-color: rgb(29, 29, 29);
  color: #075DBF;
}

.modal-btn{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
}

.custom-btn-div{
    margin: -20px 0 -20px 0;
}
