.date-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.station-icon {
    width: 70px;
    height: auto;
}

.price {
    font-size: 2.2rem;
    margin: 0;
}

.fuel-icon {
    width: 60px;
    height: 60px;
}

.station-city {
    font-size: 1.2rem;
}

.station-address {
    font-size: 0.9rem;
}

.fuel-button button{
    width: 120px;
}

@media(max-width:768px){

    .card{
        padding: 0;
    }

    .price{
        font-size: 1.5rem;
    }

    .station-city{
        font-size: 1rem;
    }

    .station-address{
        font-size: 0.8rem;
    }

    .fuel-button button{
        margin: 20px auto;
    }
}