.date-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.station-icon {
    width: 70px;
    height: auto;
}

.price {
    font-size: 2.2rem;
    margin: 0;
}

.fuel-icon {
    width: 60px;
    height: 60px;
}

.station-city {
    font-size: 1.2rem;
}

.station-address {
    font-size: 0.9rem;
}