.fuel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fuel-title {
    color: #4a9fff;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
}

.fuel-chart-wrap {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    background: #35363b;
    box-shadow: inset 0 0 20px 3px black;
    padding: 10px;
    border-radius: 12px;
}

.fuel-table {
    width: 100%;
    border-collapse: collapse;
}

.fuel-table td {
    padding: 12px 15px;
    width: 60%;
}

.last-fuel-date{
    display: inline-block;
}

@media(max-width:768px){
    .fuel-title{
        font-size: 20px;
    }
}