.card {
    background-color: #282E3A;
    border-radius: 20px;
    padding: 0px 8px 30px 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: inset 0 0 15px 5px black;
    border: 2px solid black;
    padding: 5px;
    width: 100%;
    
    overflow-y: auto;
    overflow-x: hidden;
}

.card h3{
    color: white;
    padding-top: 10px;
}

.card::-webkit-scrollbar {
  width: 6px;
  
}

.card::-webkit-scrollbar-thumb {
  background: #51535B;
  border-radius: 10px;
}

@media (max-width: 1024px) {
    .card h3 {
        font-size: 1rem;
    }

    .card{
        
    }
}