.card {
    background-color: #282E3A;
    border-radius: 20px;
    padding: 0px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 5px 1px white;
    /* box-shadow: 0 0 10px 5px black; */
    /* ^talán jobban néz ki */
}

.card h3{
    color: white;
    padding-top: 20px;
}