.card {
    background-color: #282E3A;
    border-radius: 20px;
    padding: 0px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: inset 0 0 15px 5px black;
    border: 2px solid black;

    width: 100%;
    height: 100%;
}

.card h3{
    color: white;
    padding-top: 10px;
}

@media (max-width: 1024px) {
    .card h3 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .card h3 {
        font-size: 1.2rem;
    }
}