.card {
    background-color: #282E3A;
    border-radius: 20px;
    padding: 0px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: inset 0 0 15px 5px black;
    border: 2px solid black;
}

.card h3{
    color: white;
    padding-top: 20px;
}