.help-link{
    position: absolute;
    top: 3%;
    right: 3%;
    text-decoration: underline;
    color: white;
    font-size: 16px;
}

.auth-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-tabs{
    display: flex;
    margin: 20px auto;
    background: #2f3136;
    border-radius: 20px;
    overflow: hidden;
}

.auth-tab{
    width: 150px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}



.active{
    background-color: #075DBF;
    color: rgb(255, 255, 255);

}

h1, h2{
    text-align: center;
}

h2{
    margin-bottom: 50px;
}

.features{
    margin-top: 100px;
    margin-left: 15%;
    width: 50%;
}

h3{
    font-size: 24px;
}