.help-link{
    position: absolute;
    top: 3%;
    right: 3%;
    text-decoration: underline;
    color: white;
    font-size: 16px;
}

.auth-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-tabs{
    display: flex;
    margin: 20px auto;
    background: #2f3136;
    border-radius: 20px;
    overflow: hidden;
}

.auth-tab{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.active{
    background-color: #075DBF;
    color: rgb(255, 255, 255);

}

body{

}