body{
    user-select: none;
}

.car-select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.car-layout{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 1600px;
}


.side{
    transition: 0.3s;
    flex: 1;
    cursor: pointer;
    text-align: center;
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.side:hover{
    transition: 0.3s;
    transform: scale(1.05);
    opacity: 0.7;
}

.side-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-image{
    width: 150px;
    height: 150px;
    background-color: rgb(165, 165, 165);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.side-image img {
    width: 70%;
    height: auto;
}

.car-name-small{
    font-size: 1.2rem;
}

.main-car{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image{
    position: relative;
    background: white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(255,255,255,0.2);
}

.main-car-img{
    width: 80%;
    height: auto;
}

.select-link{
    position: absolute;
    bottom: 0;
}

.main-info{
    text-align: center;
    margin-top: 20px;
}

.main-title{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.main-year{
    font-size: 1.5rem;
    margin-bottom: 5vh;
}

.mobile-arrow{
    display: none;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

.left-arrow, .right-arrow{
    width: 60px;
    height: 60px;
}

@media (max-width: 768px){
    .desktop{
        display: none;
    }

    .mobile-arrow{
        display: block;
    }

    .side{
        flex: 0 0 40px;
    }

    .main-image{
        width: 150px;
        height: 150px;
    }

    .main-title{
        font-size: 1.8rem;
    }

    .main-title{
        font-size: 1.1rem;
    }

    .main-year{
        font-size: 0.9rem;
        margin-bottom: -20px;
    }
}