.custom-card{
    height: 50vw;
}

.trip-card-header h3 {
    margin: 0;
    font-size: 1.1rem;
}

.trip-card-body {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trip-card-body p{
    margin: 20px;
}

.trip-stat {
    font-weight: bold;
    margin: 10px 0;
}

.trip-card-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(255, 255, 255);
}

.badge-row {
    padding: 8px;
    border-radius: 8px;
}

.edit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.empty-state {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}